@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gradient-to-br from-slate-100 to-slate-50 text-slate-900 antialiased dark:from-slate-950 dark:to-slate-900 dark:text-slate-100;
}
